* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
    background-color: #ffffff;
}
span{
    /* background-color: #183b56; */
    position: sticky;
    width:90px ;
}
.ons_loader {
    place-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.96);
    position: fixed;
    inset: 0;
}

.ons_loader img {
    height: unset;
    width: 300px;
}

.display_grid {
    display: grid;
}

.display_none {
    display: none;
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: left;
    align-items: center;
    /* padding-left: 80px; */
    width: auto;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: white;
    color: black;
    /* position: fixed; */
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    align-items: center;
}
.h3 h1{
    font-size: 20px;
    margin-left: -24px;
}
.imgg img{
    height: 150px;
    width: 150px;
    margin-left: -24px;
}
.h3 h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: -24px;
}
.h3 h4{
    margin-left: -24px;
}
.main-nav {
    justify-content: space-around;
}

.company-logo img {
    width: 120px;
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.search-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

/*           second nav bar           */
.items {
    background-color: #e9edf0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    box-shadow: 0 0 4px #bbd0e2;
    z-index: 99;
    left: 0;
    right: 0;
    height: auto;
}

.items ul {
    gap: 16px;
}

.items.active {
    color: var(--accent-color);
}

.nav-links ul {
    gap: 16px;
}

.hover-link {
    cursor: pointer;
}

.hover-link.link {
    color: red;
}

.hover-link:hover {
    color: var(--secondary-text-color);
    transform: translateY(-4px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--accent-color);
    text-underline-position: below;
}

.nav-item.active {
    color: var(--accent-color);
    text-decoration: underline 3px;
}

/*    news  cards     */

main {
    /* padding-block: 20px; */
    margin-top: 35px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-5px);
}

.card-header {
    height: 19rem;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 5rem;
    text-transform: uppercase;
    color: #e0e0e0;
}

.card-header img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}



.name {
    font-family: sans-serif;
    font-weight: 200;
}

img {
    /* border: ; */
    width: auto;
    height: 80px;
}

#search {
    text-align: center;
    color: #183b56;
}


/*           weather              */
.weathers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 0vh; */
    height: 55vh;
    /* background-color:rgba(242, 237, 228, 0.5); */
    border: 2px solid black;
    border-left: none;
    border-right: none;

}

.weather {
    width: 100%;
    /* height: 5vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.row {
    margin-bottom: -10px;
    margin-right: 1%;
    width: auto;
    height: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.modal-header{
    background-color: #e0e0e0;
}
.modal-title{
    margin-left: auto;
}
#search {

    margin-left: 109px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*    width:300px;*/
    height: 40px;
    border-radius: 20px;
    border-style: none;
    text-decoration: none;
    box-shadow: 0px 0px 10px grey;
    font-size: 20px;
    padding: 15px;
    outline: none;
    color: black;
}

/*                      footer                      */

footer {

    display: -ms-flexbox;
    background-color: #53575a;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e9edf0;
    margin-bottom: 5px;
}

.fotLogo {
    display: none;
    margin-top: 15px;
    color: rgb(248, 248, 249);
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 200;
    font-size: 25px;
}
hr{
display: none;
}
.items_ {
    /* background-color: black; */
    max-width: auto;
    margin-inline: auto;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 4px #bbd0e2;
    /* position: fixed; */
    z-index: 99;
    left: 0;
    right: 0;
    height: 30px;

}

.ul {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.trend {
    text-align: center;
    /* border: #183b56 2px solid; */
    font-size: 20px;
    color: red;
    text-decoration: wavy;
    background-color: white;
}

h4 {
    font-size: 20px;
    color: rgb(61, 65, 61);
}

#preloaders {
    background: black url(load.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/*    
      @media screen and (max-width : 420px) {
       .main-nav{
        flex-direction: row;
        margin: 3px;
        justify-content: center;
       }
        .text-center{
            height: auto;
        }
        .main-nav img{
            display: none;
        }
        span{
            font-size: 100%;
            color: black;
        }
        #search-button{
            width: 80%;
            padding: 3%;
        }
        .search-bar{
            width: 20px;
            font-size: 10px;
            display: none;
        }
        .none{
            display: none;
        }
        span{
            display: none;
        }
        ::placeholder{
            font-size: .8rem;
        }
        .news-input{
            font-size: 10px;
            width: fit-content;
           
        }
        .navbar{
            font-size: 1.3rem;
           
        }
       .items{
        margin: 2px;
        overflow: auto;
        white-space: nowrap;
        display: inline-block;
        height: fit-content;
        width: 100%;
       }
       .name{
       font-size: 15px;
    }
    } */
/* @media screen and (max-width : 820px) {
        .copyright{
            font-size: 1.8rem;
            justify-content: center;
            margin-bottom: 0;
        }
        .fotLogo{
            font-weight: 200;
            font-size: 6vw;
        }
        .items{
            font-size: 1rem;
            overflow: auto;
            white-space: nowrap;
            display: inline-block;
            height: fit-content;
            width: 100%;
        
           }
        .navbar{
            font-size: 2rem;
        }
    
    } */
.none {
    display: none;
}

.small_screen_search_row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@media screen and (max-width : 820px) {
    .main-nav {
        font-family: Arial;
        flex-direction: row;
        margin: 3px;
        justify-items: space-between;
    }

    .text-center {
        height: auto;
    }

    .main-nav img {
        display: flex;
    
    }

    span {
        font-size: 100%;
        color: black;
    }

    .search-bar {
        font-size: 10px;
        display: none;
    }

    .none {
        display: flex;
        flex-direction: row;
    }

    span {
        display: none;
    }

    ::placeholder {
        font-size: .8rem;
    }

    .news-input {
        font-size: 15px;
        width: fit-content;

    }

    .navbar {
        font-size: 1.3rem;

    }

    .items {
        margin: 2px;
        overflow-y: hidden;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-size: 14px;
        overflow: auto;
        white-space: nowrap;
        width: 100%;
        height: fit-content;
    }
    .items ul li{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .items ul {
        list-style: none;
        margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    } 
    .name {
        font-size: 1.28rem;
    }
    .cards-container{
        
        justify-content: center;
        gap: 1rem;
        
    }
    #search{
        margin-left: 55px;
    }
}

.cards-container{
    padding: 1rem;    
}
.bar{
    font-size: 10px;
}